html{
    height: 100%;
}
body{
    height: 100%;
    background-color: white;
    align-items: center;
    margin: 0px;
}
main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
article{
    background-color: #E0E6A6;
    border: #D8DF8F;
    height: 400px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 2%;
    border-style: solid;
    margin: 10px
}
article>img{
    border-radius: 2% ;
    border-color: #4E811A;
    height: 300px;
    width: 300px;
    border-style: solid;
}
h1{
    font-family: "Young Serif", serif;
    color: #4E811A;
    text-align: center;
}
footer>img{
    width: 100%;
    margin: 0px ;
    display: flex;
    top:0px;
    left:0px;
}
header>img{
    width: 100%;
    margin: 0px ;
    display: flex;
    left:0px;
}